In [1]:
!pip3 install pandas -q

In [3]:
!pip3 install openpyxl -q

In [4]:
import pandas as pd
import openpyxl

In [1]:
from openpyxl import load_workbook

In [2]:
file_path = '1. NBA_DBCE_Final_Formats/8. Course and Program Outcome Attainment 1.xlsx'
workbook = load_workbook(file_path)

In [3]:
sheet_name = 'Internal test I and II'  # Replace with the actual sheet name
sheet = workbook[sheet_name]

In [6]:
cell_value = sheet['D22'].value  # Read value from cell A1
cell_value

3

In [8]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('database.db')
cursor = conn.cursor()

# Create Program_outcome table
cursor.execute('''
    CREATE TABLE Program_outcome (
        po_id INTEGER PRIMARY KEY,
        po_description VARCHAR
    )
''')

# Create Course table
cursor.execute('''
    CREATE TABLE Course (
        course_id INTEGER PRIMARY KEY,
        course_name VARCHAR,
        course_description VARCHAR
    )
''')

# Create Course_outcome table
cursor.execute('''
    CREATE TABLE Course_outcome (
        co_id INTEGER PRIMARY KEY,
        co_description VARCHAR,
        co_treshold FLOAT,
        co_total_marks INTEGER,
        co_treshold_marks FLOAT,
        co_attainment INTEGER,
        course_id INTEGER,
        po_id INTEGER,
        FOREIGN KEY (course_id) REFERENCES Course (course_id),
        FOREIGN KEY (po_id) REFERENCES Program_outcome (po_id)
    )
''')

# Create Internal_tests table
cursor.execute('''
    CREATE TABLE Internal_tests (
        test_id INTEGER PRIMARY KEY,
        test_name VARCHAR,
        course_id INTEGER,
        FOREIGN KEY (course_id) REFERENCES Course (course_id)
    )
''')

# Create Test_questions table
cursor.execute('''
    CREATE TABLE Test_questions (
        question_id INTEGER PRIMARY KEY,
        question_marks INTEGER,
        test_id INTEGER,
        co_id INTEGER,
        FOREIGN KEY (test_id) REFERENCES Internal_tests (test_id),
        FOREIGN KEY (co_id) REFERENCES Course_outcome (co_id)
    )
''')

# Create Students_Marks table
cursor.execute('''
    CREATE TABLE Students_Marks (
        marks_id INTEGER PRIMARY KEY,
        students_rollno INTEGER,
        test_id INTEGER,
        question_id INTEGER,
        marks_obtained INTEGER,
        FOREIGN KEY (test_id) REFERENCES Internal_tests (test_id),
        FOREIGN KEY (question_id) REFERENCES Test_questions (question_id)
    )
''')

# Create CO_marks table
cursor.execute('''
    CREATE TABLE CO_marks (
        co_marks_id INTEGER PRIMARY KEY,
        students_rollno INTEGER,
        co_id INTEGER,
        FOREIGN KEY (co_id) REFERENCES Course_outcome (co_id)
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [4]:
import sqlite3

def connect_to_database(database_name):
    conn = sqlite3.connect(database_name)
    return conn

conn = connect_to_database('database.db')
conn

In [3]:
def insert_into_program_outcome(conn, po_description):
    cursor = conn.cursor()
    # cursor.execute('''
    #     INSERT INTO Program_outcome (po_description)
    #     VALUES (?)
    # ''', (po_description,))

    cursor.execute('''
    INSERT INTO Program_outcome (po_description)
    VALUES ('PO 1 Description'),
           ('PO 2 Description'),
           ('PO 3 Description')
    ''')
    cursor.close()

insert_into_program_outcome(conn, 'P1')